.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #00FFFF;
}

th {
    background-color: #7393B3;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #89CFF0;
}

tr:hover {
    background-color: lightblue;
}
